
<div style="text-align:center">
  <h1>
    Starwars App Adim
  </h1>
  <br/>
  <input type="text" [(ngModel)]='typedName' id="keyword" placeholder="Search for character name..." autofocus/>

  <br/>
  {{typedName}}
  
  <br/>
  <div *ngIf="typedName.length !== 0">    
    Search Result
  </div>
  <br/>
  <app-detail-character></app-detail-character>
  <p>
    <button class='pull-left btn btn-default' (click)="search(typedName)">Search</button> &nbsp;
    <button (click)="logout()">Logout</button>
  </p>
  </div>